*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}

.logo h2 {
    font-size: 45px;
}

.color-orange{
    color: #FD6E0A;
    font-weight: 900;
}

.btn{
    background-color: #FD6E0A;
    border-radius: 5px;
    border: none;
    width: 150px;
    height:65px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

header{
    background-color: #FFF8F3;
    padding-top: 50px;
}

nav {
    width: 65%;
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap:51px;
    align-items: center;    
}

nav .menu a {
    display: flex;
    font-size: 20px;
    color: #474747;
    text-decoration: none;

}

